<html>
  <body>
    <% books.forEach((book) => { %>
    <% book.results[0]['work'].forEach((work) => { %>
    <div>
      <img src='<%= work.best_book[0].image_url[0] %>'/>
      <p>
        <%=work.best_book[0].title[0] %>
        <span style="float:right">
          <a href="/createThread?title=<%= work.best_book[0].title[0] %>">Start Discussion</a>
          <a href="/createBook?title=<%= work.best_book[0].title[0] %>">Add to Library</a>
          <a href="/followBook?title=<%= work.best_book[0].title[0] %>">Follow this book</a>
        </span>
      </p>
        
    </div>
    <%  }) }); %>
  </body>
</html>
