<h2><%= thread.title  %></h2>
<div>
  <% posts.forEach(function(post) { %>
    <div>
      <p>
          <%= post.content %><span style="float:right;"><%= post.created_at %>
        <% if(post.user_name) { %>
        <span>-<%= post.user_name %>-</span>
        <% } %>
      <% if(user && user.username == "admin2") {%>

        <a href="/report/<%= thread.id %>/<%= post.user_id %>">Report</a>
      <% } %>
  
</span>
      </p>
    </div>
  <% }); %>
  <% if(user){ %>
  <form action="/createPost" method="post">
  <input type="text" name="content" >
  <input type="hidden" name="thread_id" value="<%=thread.id%>" >
  <input type="hidden" name="user_id" value="<%=user.id%>" >
  <input type="hidden" name="user_name" value="<%=user.username%>" >
  <input type="submit" value="Create Post">
  <%= user.test %>
  </form>
  <% }  else{ %>
  <p>Log in to Post</p>
  <% } %>

</div>
